#header #Planet {
  font-family: monospace;
  margin-left: 860px;
  display: block;
  width: 500px;
}

header {
  margin: 10px 10px 10px 10px;
}

#header {
  background-color: rgb(143, 219, 96);
  border: 10px solid rgb(143, 219, 96);
  border-radius: 15px 15px 15px 15px;
  background-image: url(./Images/2000px-Planet.svg.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 200px;
}
